{% extends 'base.html' %}

{% block page_title %} Create Post {% endblock %}

{% block page_content %}
<header>
    <a href="/users">All Users</a>
</header>
<h1>Create New Post for {{name}}</h1>
<form action="/users/{{id}}/posts/new" method="POST">
    <h2>What is on your mind today?</h2>
    <label for="title">Title</label>
    <input type="text" name='title' placeholder="Title of Post" maxlength="30" required>
    <label for="post_content">Content</label>
    <input type="textarea" name='post_content' placeholder="Post Content" required maxlength="300">
    <input type="submit" value="Create Post">
    <a href="/users/{{id}}">Cancel</a>
</form>

{% endblock %}
